<h2>Sign up for an account on The Home Remedy Website!</h2>

<%= form_for @user  do |f| %>
  <%= render :partial => "form", :locals=>{:f=>f} %>
<% end %>

<h3>Already have an account? Sign in <%= link_to "here", '/signin' %></h3> 